* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(211, 214, 214);
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.autorise {
    color: green;
    text-align: center;
}

.refuse {
    color: red;
    text-align: center;
}



h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #45a049;
}

.sort-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.sort-arrow.desc {
    transform: rotate(180deg);
}

th[data-sortable] {
    cursor: pointer;
}